.button-arrow{
    background-color: #CBE86B;
    align-items: center;
    height: 50px;
    width: 50px;
    box-shadow: 5px 5px 0 #000;
    cursor: pointer;
}

.button-arrow .content{
    display: none;
}

.button-arrow::before{
    display: block;
    box-sizing: border-box;
    content: "";
    height: 15px;
    width: 15px;
    border: 20px solid transparent;
    border-left: 28px solid #fff;
    transform: translateX(5px);
}

.button-arrow.-left::before{
    transform: rotate(180deg) translateX(18px);
}

.button-arrow.-right{
 
}