.main-section{
    background-color: #859b3d;
    padding-top: 50px;
    padding-bottom: 60px;
    border-bottom: 10px solid #A49C94;
    text-align: center;
}

.main-section.-bgBlack{
    background-color: #000;
}   
.main-section.-bgCream{
    background-color: #A49C94;
}

.main-section.-bdGreen{
    border-bottom: 10px solid #CBE86B;
}
.main-section.-bdBlack{
    border-bottom: 10px solid #000;
}
