.main_section{
    box-sizing: border-box;
    background-image: url("../../assets/img/fundo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    background-position: 25% 10%;
    border-bottom: 10px solid #000;
    padding-top: 115px;
    padding-left: 90px;
    
    display: flex;
    flex-direction: column;
}

.main_section .wrapper{
    width: 640px;
}

.main_section .main_box{
    margin-bottom: 40px;
}

.main_section .navigation{
    display: flex;
    justify-content: space-around;
}