.node-card{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/*.node-card::after{
    content: "";
    width: 1200px;
    box-sizing: border-box;
    transform: translateY(-190px);
    border-bottom: 5px solid #000;
}*/

.node-card::before{
    content: "";
    box-sizing: border-box;
    height: 40px;
    transform: translateY(200%);
    border-left: 4px dashed #000;
}

.node-card .title{
    font-family: "Press Start 2P";
    font-size: 25px;
    font-weight: 400;
    color: #CBE86B;
    margin-bottom: 50px;
}

.node-card .logo{
    display: flex;
    align-items: center;
    height: 140px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #CEB02A;
    border: 5px solid #000000;
}

.node-card.-clean .logo{
    padding: 0px;
    border: 0px;
}

.node-card.-green .logo{
    background-color:#CBE86B;
}

.node-card .caelum{
    height: 150px;
    transform: translateY(5px);
}