.section{
    background-color: #859b3d;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #A49C94;
    text-align: center;
}

.section.-projects{
    background-color: #000;
    border-bottom: 10px solid #CBE86B;
}

.section.-sobre{
    background-color: #A49C94;
    border-bottom: 10px solid #000;
}