.skill-tec{
    display: inline-flex;
    margin-bottom: 40px;
    align-items: center;
}

.skill-tec .skills_title{
    font-family: "Press Start 2P", sans-serif;
    font-size: 22px;
    line-height: 25px;
    color: #F2E9E1;
    margin-bottom: 10px;
}

.skill-tec .skill_and_progress{
    margin-left: 25px;
    text-align: left;
}

.skill-tec .icon{
    width: 80px;
    height: 80px;
}