.wrapper-skill{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
} 

.wrapper-skill .skill-tec{
    width: 430px;
}

.wrapper-skill .progress-bar{
    width: 320px;
}